/*
Theme Name: Cursos
Author: Ciro Pérez
Author URI: https://www.linkedin.com/in/ciro-a-p%C3%A9rez-iglesias-ba3536178/
Description: Tema para pagina de cursos
Tags: blog, one-column
Version: 1.3
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
Text Domain: cursos
*/

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root{
	--altura-barra: 70px;
}

/*FUENTES*/
@font-face{
	font-family: 'TrebuchetMS';
	src: url('assets/fonts/TrebuchetMS.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'BebasNeue';
	src: url('assets/fonts/BebasNeue.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'WebSymbolsRegular';
	src: url('assets/fonts/websymbols-regular-webfont.eot');
	src: url('assets/fonts/websymbols-regular-webfont.eot#iefix') format('embedded-opentype'),
	     url('assets/fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('assets/fonts/webstmbols-regular-webfont.ttf') format('truetype'),
	     url('assets/fonts/webstmbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*GENERALES*/
.preload{
	transition: none !important;
}

.clearfix{
	clear: both;
}

.gear, .icon{
	font-family: 'WebSymbolsRegular';
}

.clearfix{
	clear: both;
}

body{
	background-image: url('img/pattern.png');
}

/*ESTILOS CABECERA*/
#header{
	background-color: black;
	color: #fff;
	width: 100%;
	height: var(--altura-barra);
	font-family: 'BebasNeue';

	position: fixed;
	top: 0;
	z-index: 100;
}

	#header .cont-nav{
		width: 1200px;
		margin: 0px auto;
		/*padding-top: 10px;*/
	}

	#header .logo{
		width: 170px;
		height: 50px;
		margin-top: 10px;
		border-radius: 14px;
		font-size: 25px;
		line-height: 50px;
		text-transform: uppercase;
		background-color: #37BCF9;
		cursor: pointer;

		float: left;
	}

	#header .gear{
		float: left;
		padding-left: 20px;
		padding-right: 15px;

		animation-name: rotar-tuerca;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes rotar-tuerca{
		from {
			transform: rotateY(0deg);
		}

		to{
			transform: rotateY(360deg);
		}
	}

	#header h3{
		padding-top: 3px;
		font-size: 30px;
	}

#menu{
	float: right;
	padding-right: 15%; 
}

	#menu ul li{
		/*display: inline-block;*/
		float: left;
		line-height: 70px;
	}

	#menu ul li a{
		display: block;
		color: white;
		text-transform: uppercase;
		font-size: 24px;
		margin-left: 30px; 
		transition: transform .5s;
	}

	#menu ul li a:hover{
		transform: scale(1.3);
		color: #37bcf9;
	}

/* ESTILOS PORTADA */
.portada{
	height: 100vh;
	width: 100%;
	margin-top: 39px;
	background-image: url('img/portada.jpg');
	background-position: center;
	background-size: cover;

	position: relative;
}

.title{
	position: absolute;
	top: 320px;
	left: 519px;
	color: white;
	font-size: 40px;
	text-transform: uppercase;
}

.portada .info{
	width: 63%;
	position: absolute;
	top: 50px;
	left: 253px;
}

/*ESTILOS BANNER*/
.contenedor{
	width: 85%;
	margin: 0px auto;
}

	.banner{
		width: 100%;
		height: 100px;
		border: 10px solid white;
		margin-top: 15px;
		box-shadow: 0px 0px 2px gray;
		background-image: url('img/bakbaner.png');
		background-position: -433px -405px;

		
	}

	.banner h1{
		display: block;
		color: white;
		font-size: 40px;
		letter-spacing: 4px;
		font-family: 'BebasNeue';
		text-transform: uppercase;
		line-height: 89px;
		text-align: center;
		text-shadow: 2px 2px 2px black;
	}

/*ESTILOS CURSOS*/
.cursos{
	margin-top: 70px;
}

.caja{
	width: 17%;/*204px;*/
	height: 305px;
	margin-left: 3%;
	padding: 4px;
	background-color: white;
	box-shadow: 1px 1px 2px gray;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	transition: .5s;
	
	float: left;
	
	position: relative;
	 
}
	.caja:hover{
		transform: scale(1.1);
		box-shadow: 0px 0px 8px gray; 
		z-index: 60;
	}

	.caja:hover .icon{
		animation-name: animacion-icono;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes animacion-icono{
		0%{
			transform: translateX(-150px);
		}

		50%{
			transform: translateX(150px);
		}

		100%{
			transform: translateX(-150px);
		}
	}

	.caja .icon{
		text-align: center;
		font-size: 40px;
		margin: 20px 0px 30px 0px;
	}

	.caja h2{
		color: #00538c;
		margin-bottom: 20px;
		font-size: 22px;
	}

/*ESTILOS PARTE CENTRAL*/
.cont-principal{
	margin-top: 90px;
}
	.cont-principal .blog{
		width: 70%;
		margin-left: 40px;
	}
	
	.cont-principal .ult-articulos{
		width: 100%;
		height: 50px;
		margin-bottom: 30px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid black;
		box-shadow: 1px 1px 3px black;
	}

	.blog article{
		box-shadow: 1px 1px 2px gray;
		width: 98%;
		padding: 10px;
		padding-top: 20px;
		margin: 0px auto;
		margin-bottom: 20px;
		height: 120px;
		background-color: white;

		position: relative;
		
	}

	.blog article a{
		color: blue;
	}

	.blog article a:hover{
		text-decoration: underline;
		cursor: pointer;
	}
	
	.blog .info{
		background-color: black;
		color: white;
		text-align: center;
		height: 30px;
		line-height: 30px;
		width: 30%;

		position: absolute;
		bottom: 0;
		right: 0;
	}

.fondo{
	background-image: url('img/pxgray.png');
}

input[type="checkbox"]{
	transform: scale(1.5);
	margin-left: 20px;
	display: none;
}

/* ESTILOS POST */
.cont-post{
	width: 100%;
	margin: 0px auto;
	margin-top: 70px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

	.cont-post .imagen-post-contenedor{
		width: 60%;
		margin: 0px auto;
	}

		.cont-post .imagen-post-contenedor img{
			width: 100%;
		}
	
	.cont-post .contenido-post{
		width: 70%;
		margin: 0px auto;
		margin-top: 30px;
	}

.contenido-post h3{
	margin-bottom: 20px;
	text-transform: uppercase;
}

/* ESTILOS FOOTER */
#footer{
	width: 100%;
	height: 470px;
	background-color: black;
	color: white;
	margin-top: 70px;
}

#footer .contenedor > div{
	float: left;
	width: 300px;
	height: 370px;
	margin: 40px;
	margin-left: 65px;
	text-align: center;
	color: white;
	font-family: "TrebuchetMS";
}

#footer a{
	color: #37bcf9;
	transition: all 300ms;
	text-transform: uppercase;
}

#footer h5{
	display: block;
	background: url('img/pxgray.png'), white;
	height: 50px;
	letter-spacing: 2px;
	text-align: center;
	font-family: "BebasNeue";
	font-size: 40px;
	line-height: 55px;
	color: black;
	border-radius: 5px;
	margin-bottom: 15px;
}

#footer ul{
	list-style: disc;
	text-align: left;
	margin: 20px;
	font-size: 25px;
}

#footer li{
	margin-top: 10px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	list-style: disc;
}

#footer ul li a{
	display: block;
	height: 40px;
	transition: transform 300ms;
}

#footer li a:hover{
	transform: translateX(20px);
}

#footer .img-html{
	margin-bottom: 25px;
}

#footer .logos-lenguaje{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#footer .logos-lenguaje .logo-lenguaje{
 	width: 40px;
}

#footer .logos-lenguaje .html{
	width: 65px;
}

#footer .logos-lenguaje .css{
	width: 100px;
}

#footer .logos-lenguaje .php{
	width: 100px;
	margin-top: 18px;
}

#footer .logos-lenguaje .wordpress{
	width: 64px;
	margin-left: 19px;
	margin-top: 15px;
}

#footer .map{
	width: 100%;
	height: 300px;
	margin-top: 10px;
	border-radius: 5px;
	border: 5px solid white;
	box-shadow: 0px 0px 5px gray;
}

#footer img{
	margin-bottom: 15px;
}

#footer #browsers img{
	width: 45px;
}

@media screen and (max-width: 1122px){
	.caja{
		width: 24%;
		padding: 0px;
		margin-left: 6%;
		margin-bottom: 50px; 
	}
}

@media screen and (max-width: 912px){

	.cursos{
		margin-top: 32px;
	}

	.caja{
		width: 28%;
		padding: 0px;
		margin-left: 12%;
		margin-bottom: 50px;
		padding: 16px;
	}

	.banner{
		margin-top: 23px;
	}

	.banner h1{
		font-size: 30px;
	}

	input[type='checkbox']{
		display: block;

		position: relative;
		top: 30px;
		left: 600px;
	}
	
	#menu{
		background-color: #6f6d6d;
		width: 70%;
		transform: translateX(-100%);
		transition: 1s all ease-in-out;
		height: 100vh;

		position: fixed;
		top: 70px;
	}

	#menu ul li{
		display: block;
	}

}

@media screen and (max-width: 674px){
	.banner h1{
		font-size: 23px;
	}

	.cursos{
		margin: 0px auto; 
		margin-top: 30px;
	}
	
	.caja{
		width: 80%;
		height: 200px;
		margin-bottom: 30px;
	}

	.banner h1{
		font-size: 20px;
	}
}
